<div class="jumbotron">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
      <h2>Mercedes Benz EWA EPC catalog!</h2>
        <p>Key Generator for Epc!</p>
      </div>
    </div>
    <div class="row iphone">
      <div class="col-md-4 col-sm-4">
        <% if defined? error_message %>
          <p class="bg-danger"><%= error_message %></p>
        <% end %>
        <form action="/" method="POST">
          <div class="form-group">
            <label for="name">Name</label>
            <input type="text" class="form-control" name="name" id="name">
          </div>
          <div class="form-group">
            <label for="email">Email address</label>
            <input type="email" class="form-control" name="email" id="email">
          </div>
          <div class="form-group">
            <label for="id_number">Lan ID</label>
            <input type="text" class="form-control" name="id_number" id="id_number">
          </div>
          <div class="form-group">
            <label for="Textarea1">Messages.</label>
            <textarea class="form-control" id="textarea1" name="textarea1" 
                      rows="3"></textarea>
          </div>

          <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" 
                      id="inlineCheckbox1" value="option1" name="inlineCheckbox1">
            <label class="form-check-label" for="inlineCheckbox1">
                          Want to receive Updates?</label>
          </div>

          <div class="g-recaptcha" i
               data-sitekey="6LeRGl4UAAAAABA5qNDcZzkd8FjYShGHvGPB-p9C"></div>

          <button type="submit" class="btn btn-primary">Submit</button>
        </form>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-4">
      <h4>How Install Mercedes EPC</h4>
        <div class="embed-responsive embed-responsive-16by9">
          <iframe class="embed-responsive-item" 
                  src="https://www.youtube.com/embed/79pi27DfYx4" 
                  allowfullscreen></iframe>
        </div>
    </div>
    <div class="col-md-4">
      <h4>How Active Mercedes EPC</h4>
        <div class="embed-responsive embed-responsive-16by9">
          <iframe class="embed-responsive-item" 
                  src="https://www.youtube.com/embed/79pi27DfYx4" 
                  allowfullscreen></iframe>
        </div>
   </div>
    <div class="col-md-4">
      <h4>How update database Mercedes EPC</h4>
        <div class="embed-responsive embed-responsive-16by9">
          <iframe class="embed-responsive-item" 
                  src="https://www.youtube.com/embed/79pi27DfYx4" 
                  allowfullscreen></iframe>
        </div>
    </div>
  </div>
</div>
